<!DOCTYPE html>
<html>
<head>
    <title>Wallet</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="card p-4 shadow">
        <h2 class="mb-3">My Wallet</h2>

        <h4>Balance: <span class="text-success">500 EGP</span></h4>

        <hr>

        <form>
            <label>Add Money</label>
            <input type="number" class="form-control mb-3" placeholder="Enter amount">

            <button class="btn btn-primary w-100">Add Balance</button>
        </form>
    </div>
</div>

</body>
</html>